*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    background-color: grey;
}

body{
    width: 70%;
    margin: 0px auto;
    background-color: white;
}

header{
    border-bottom: solid 3px black;
}

h1{
    padding: 20px;
    border-bottom: solid 1px black;
}

nav > ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul > li{
    padding: 15px;
    flex-basis: 33%;
    text-align: center;
    color: white;
}

nav > ul > li > a{
    text-decoration: none;
    color: black;
}

main{
    margin: 20px;
}

main > p{
    margin-bottom: 10px;
}

h2{
    margin-bottom: 20px;
}

main > form{
    padding-left: 20px;
}

main > ul{
    margin-left: 20px;
    margin-bottom: 20px;
    list-style: none;
}

form > p{
    width: 40%;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    margin-bottom: 0.4em;
}

form > button{
    margin-top: 0.3em;
}

button{
    padding: 5px 10px;
}

tr, th{
    width: 10%;
}

table{
    margin: 30px 0px;
    text-align: left;
}

.zoek-resultaat{
    display: flex;
    align-content: space-between;
    margin-top: 20px;
    margin-bottom: 5px;
}
.zoek-resultaat > div{
    flex-basis: 50%;
}

.index-verwijder-resultaat{
    display: flex;
    align-content: space-between;
    margin-bottom: 5px;
    width: 50%;
}
.index-verwijder-resultaat > div{
    flex-basis: 30%;
}
.index-verwijder-resultaat > p{
    width: 100%;
}


main#index > form.button-form{
    padding: 0px;
}

.delete-confirm{
    width: 50%;
    margin: 40px;
    display: flex;
    flex-direction: column;
}
.delete-confirm > p{
    flex-basis: 100%;
}
.delete-confirm-buttons{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.button-form{
    margin-right: 10px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
  color: grey;
  text-decoration: underline;
}

footer{
    padding: 5px 0px;
    border-top: solid 3px black;
    text-align: center;
}